Data Cleaning 2.2 - <date> - <studentid>

In [1]:
from IPython.display import display, Markdown
from datetime import datetime
import pandas as pd #import pandas library
todays_date = datetime.now().strftime("%Y-%m-%d")
student_id = "Trejor6927"
file_path ='C:\\Files\\Excel\\DA_PythonR\\2019_Happiness_Index_v2_Task1.xlsx'
df = pd.read_excel(file_path)

duplicate_rows_before = df[df.duplicated()]

#find duplicated rows
display(Markdown(f"### {student_id} – {todays_date}")) 

#display Header Text
display(Markdown("## Duplicate Rows before cleaning")) 
#display Header Text
display(duplicate_rows_before)

#display # of duplicated rows
df_cleaned = df.copy() 

#Make copy of data frame
df_cleaned.drop_duplicates(inplace=True) 

#delete duplicates
duplicate_rows_after = df_cleaned[ df_cleaned.duplicated()] 
#find duplicated rows
display(Markdown("## Duplicate Rows after cleaning")) 
#display Header Text
display(duplicate_rows_after) 
#display rows after cleaning

### Trejor6927 – 2026-02-17

## Duplicate Rows before cleaning

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,StudentID
39,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265,<studentid>
81,80,Malaysia,5.339,1.221,1.171,0.828,0.508,0.260,0.024,<studentid>
96,94,Vietnam,5.175,0.741,1.346,0.851,0.543,0.147,0.073,<studentid>
100,95,Bhutan,5.082,0.813,1.321,0.604,0.457,0.370,0.167,<studentid>

## Duplicate Rows after cleaning

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, StudentID]
Index: []

In [2]:
count_before = unique_countries = df['Country or region'].value_counts() 
#count countries
misspelled_countries = ['Icleand', 'Swtierland', 'Canda'] 
# Manually identified Correcting Misspellings
misspellings_correction = {
'Icleand': 'Iceland',
'Swtierland': 'Switzerland',
'Canda': 'Canada'
}

df_cleaned['Country or region'].replace(misspellings_correction,
inplace=True) 
#Search/replace in "cleaned" dataset
count_after = unique_countries = df_cleaned['Country or region'].value_counts()
replaced_count = sum((count_before - count_after).fillna(0))
display(Markdown(f"### {student_id} - {todays_date}")) #display Header Text
display(Markdown(f"**{int(replaced_count)} entries were replaced.**"))

C:\Users\Student\AppData\Local\Temp\ipykernel_2080\583131782.py:11: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df_cleaned['Country or region'].replace(misspellings_correction,

### Trejor6927 - 2026-02-17

**4 entries were replaced.**

In [3]:
#finding Missing Values
missing_values_before = df.isnull().sum()
display(Markdown(f"## {student_id} – {todays_date}")) 
#display Header Text
display(Markdown("## Number of missing values in each column"))
display(missing_values_before)

#Fill in missing values with the median of the row. Median because it is less sensitive to outliers
for col in missing_values_before.index:
    if missing_values_before[col] > 0:
        median_value = df_cleaned[col].median() 

#Get the median of the column where the missing value is
df_cleaned[col].fillna(median_value, inplace=True) 

#Fill the missing value with the median
missing_values_after = df_cleaned.isnull().sum()
display(Markdown("## Number of missing values in each column after filling with median"))
display(missing_values_after)

## Trejor6927 – 2026-02-17

## Number of missing values in each column

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  1
Social support                  1
Healthy life expectancy         1
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
StudentID                       0
dtype: int64

C:\Users\Student\AppData\Local\Temp\ipykernel_2080\3718161635.py:14: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df_cleaned[col].fillna(median_value, inplace=True)

## Number of missing values in each column after filling with median

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  1
Social support                  1
Healthy life expectancy         1
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
StudentID                       0
dtype: int64

In [4]:
#Finding Outliers using 3.5 * IQR method
outliers = {}
numerical_columns = df.select_dtypes(include=['float64','int64']).columns 
#Find numerical data types
for col in numerical_columns:
    Q1 = df[col].quantile(0.25) #Calculate Q1
    Q3 = df[col].quantile(0.75) #Calculate Q3
    IQR = Q3 - Q1
    outliers[col] = df[(df[col] < (Q1 - 3.5 * IQR)) | (df[col] > (Q3 + 3.5 * IQR))]
    
display(Markdown(f"## {student_id} - {todays_date}")) 

#display Header text
display(Markdown("## Outliers"))

for col, outlier_df in outliers.items():
    if not outlier_df.empty:
        display(Markdown(f"**{col}:**"))
        display(outlier_df[col])
        display(Markdown("**After cleaning:**"))

for col in outliers.keys():
    if not outliers[col].empty:
        median_value = df_cleaned[col].median()
        outlier_indices = outliers[col].index
        
df_cleaned.loc[outlier_indices, col] = median_value
display(Markdown(f"**{col}:**"))
display(df_cleaned.loc[outlier_indices, col])

## Trejor6927 - 2026-02-17

## Outliers

**Freedom to make life choices:**

11    5.58
Name: Freedom to make life choices, dtype: float64

**After cleaning:**

**Perceptions of corruption:**

11    0.417
Name: Perceptions of corruption, dtype: float64

In [5]:
cleaned_file_path_35 ='C:\\Files\\Excel\\DA_PythonR\\2019_Happiness_Index_v2_Task1_Cleaned.xlsx'
df_cleaned.to_excel(cleaned_file_path_35, index=False)