Project 4.6 <Date> <studentid>

In [1]:
import pandas as pd
from IPython.display import display, Markdown
from datetime import date

# Define student ID and today's date
student_id = "Trejor6927"
todays_date = date.today()

# Display header
display(Markdown(f"### 4.6 Project - {student_id} - {todays_date}"))

# Load dataset
file_path = r"C:/Files/Excel/Prescriptive_PythonR/2019_Happiness_Index_v4.xlsx"

happiness_df = pd.read_excel(file_path)

# Preview dataset
happiness_df.head()

### 4.6 Project - Trejor6927 - 2026-02-20

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,StudentID
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,<studentid>
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,<studentid>
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,<studentid>
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,<studentid>
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,<studentid>

In [2]:
# Display header
display(Markdown(f"### 4.6 Project - {student_id} - {todays_date}"))

# Identify categorical columns
categorical_cols = happiness_df.select_dtypes(include=['object']).columns

# Apply one-hot encoding
happiness_df = pd.get_dummies(happiness_df, columns=categorical_cols, drop_first=True)

# Preview transformed dataset
happiness_df.head()

### 4.6 Project - Trejor6927 - 2026-02-20

C:\Users\Student\AppData\Local\Temp\ipykernel_5472\2036900547.py:5: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  categorical_cols = happiness_df.select_dtypes(include=['object']).columns

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Country or region_Albania,Country or region_Algeria,...,Country or region_United Arab Emirates,Country or region_United Kingdom,Country or region_United States,Country or region_Uruguay,Country or region_Uzbekistan,Country or region_Venezuela,Country or region_Vietnam,Country or region_Yemen,Country or region_Zambia,Country or region_Zimbabwe
0,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298,False,False,...,False,False,False,False,False,False,False,False,False,False

In [3]:
from sklearn.model_selection import train_test_split
# Display header
display(Markdown(f"### 4.6 Project - {student_id} - {todays_date}"))

# Define features (X) and target (y)
X = happiness_df[[
    "GDP per capita",
    "Social support",
    "Healthy life expectancy",
    "Freedom to make life choices",
    "Generosity",
    "Perceptions of corruption"
]]

y = happiness_df["Score"]

# 70-30 split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

print("Training set size:", X_train.shape)
print("Testing set size:", X_test.shape)

### 4.6 Project - Trejor6927 - 2026-02-20

Training set size: (109, 6)
Testing set size: (47, 6)

In [4]:
from sklearn.linear_model import LinearRegression
# Display header
display(Markdown(f"### 4.6 Project - {student_id} - {todays_date}"))

# Initialize model
model = LinearRegression()

# Train model
model.fit(X_train, y_train)

print("Model training complete.")

### 4.6 Project - Trejor6927 - 2026-02-20

Model training complete.

In [5]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
# Display header
display(Markdown(f"### 4.6 Project - {student_id} - {todays_date}"))

# Predictions
y_pred = model.predict(X_test)

# Evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("Model Performance:")
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R²):", r2)

### 4.6 Project - Trejor6927 - 2026-02-20

Model Performance:
Mean Absolute Error (MAE): 0.5039170841804965
Mean Squared Error (MSE): 0.4078692040701683
Root Mean Squared Error (RMSE): 0.6386463842144323
R-squared (R²): 0.5831750841034313

In [6]:
# Display header
display(Markdown(f"### 4.6 Project - {student_id} - {todays_date}"))

# Create feature importance DataFrame
feature_importance = pd.DataFrame({
    "Feature": X.columns,
    "Coefficient": model.coef_
})

# Rank by absolute value
feature_importance["Absolute Coefficient"] = abs(feature_importance["Coefficient"])
feature_importance = feature_importance.sort_values(
    by="Absolute Coefficient", ascending=False
)

print("Feature Importance Ranking:")
print(feature_importance[["Feature", "Coefficient"]])

### 4.6 Project - Trejor6927 - 2026-02-20

Feature Importance Ranking:
                        Feature  Coefficient
3  Freedom to make life choices     1.363593
5     Perceptions of corruption     1.253955
1                Social support     1.205592
2       Healthy life expectancy     1.107277
0                GDP per capita     0.790396
4                    Generosity     0.411028